.buy-wrapper {
  padding: 0px 15px 30px;
}
.bond-buy-comfirm {
  font-size: 14px;
  line-height: 18px;
  padding-bottom: 30px;

  .col-5::after {
    content: ':';
    position: absolute;
    right: 0;
    padding-right: 0;
  }
  h2 {
    margin-bottom: 20px;
  }
  p {
    font-size: 14px;
    line-height: 22px;
    margin: 0;
  }
}
