body {
  background-color: #e7e7e7;
  .list-group-item {
    border-color: #dcdde0;
  }
  .badge-danger {
    background: #c4261d;
  }
  a {
    cursor: pointer;
  }
  .container-fluid {
    max-width: 750px;
  }
}

.header-wrapper {
  padding: 20px 0px;
  background-color: #fff;
  margin-bottom: 22px;
  box-shadow: 0px 9px 16px 6px #ccc;
  h3 {
    font-weight: bold;
    font-size: 34px;
    margin: 0;
  }
  .filter {
    font-size: 30px;
    font-weight: bold;
    img {
      margin-right: 12px;
    }
  }
}
.footer-wrapper {
  background: #fff;
  box-shadow: 0px -9px 10px 0px #ccc;
  display: flex;
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 14px 0px 8px;
    color: #999999;
    font-weight: bold;
    font-size: 24px;
    img {
      margin-bottom: 10px;
    }
  }
}
.card {
  margin-bottom: 30px;
  li {
    padding: 10px 25px;
    font-size: 30px;
    align-items: center;
    display: flex;
    width: 100%;
    justify-content: space-between;
    span {
      font-weight: bold;
    }
    p {
      margin: 0;
      font-weight: bold;
      .quatity {
        color: #c4261d;
      }
    }
  }
  .title {
    color: #005197;
    font-size: 34px;
    font-weight: bold;
    .link {
      display: flex;
      align-items: center;
      .badge {
        font-size: 120%;
        margin-right: 12px;
      }
    }

  }

}
