*, input:focus, textarea:focus, select:focus {
  outline: none !important;
}
body {
  .btn-transparent {
    display: inline-block;
    padding: 0;
    border: 0px;
    background: transparent;
  }
  background-color: #e7e7e7;
  font-family: Arial;
  .list-group-item {
    border-color: #dcdde0;
  }
  .popup-click {
    cursor: pointer;
  }
  table.table-striped {
    border: 4px;
    overflow: hidden;
    border: 1px solid #dcdde0;

    thead {
      tr:nth-of-type(odd) {
        background: #e4e4e4;
      }
    }

    tr {
      border-bottom: 1px solid #dcdde0;

      &:nth-of-type(odd) {
        background: #f4f4f4;
      }
    }
  }

  .badge-danger {
    background: #ff3b30;
  }

  a {
    cursor: pointer;

    &:hover {
      text-decoration: none;
    }
  }

  .container-fluid {
    max-width: 750px;
    padding-top: 55px;
    padding-bottom: 85px;
  }

  .white-bg {
    background-color: #fff;
  }
  h2 {
    margin: 10px 0 13px;
  }
  h3 {
    font-weight: bold;
    font-size: 21px;
    margin: 0;
  }

  h4 {
    font-weight: normal;
    font-size: 20px;
    margin: 0;
  }

  h5 {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
  }

  h6, .h6 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }

  .color {
    font-weight: bold;
    color: #005197;
  }


  .text-primary {
      color: #263d60 !important;
  }
  .text-info {
    color: #007ddd !important;
  }
  .color-1, .text-danger {
    color: #ff3b30 !important;
  }
  .col-form-label {
    font-size: 14px;

    span {
      font-size: 30px;
      font-weight: bold;
      line-height: normal;
    }

    small {
      font-size: 18px;
      font-weight: bold;
      line-height: normal;
    }

  }

  .react-datepicker-wrapper {
    padding: calc(.375rem + 1px) 20px;
    margin-bottom: 0;
    background: #f4f4f4 url("/img/calendar.png") no-repeat center right 10px;
    border-radius: 4px;
    width: 100%;

    .react-datepicker__input-container {
      display: block;
    }

    input {
      font-size: 16px;
      font-weight: bold;
      background: transparent;
      border: 0;
      width: 100%;
      color: #000000;
    }

  }
  .confirm-content {
    border: 1px solid #dcdde0;
    border-radius: 4px;
    padding: 15px 10px;
    background-color: #fff;
    margin-bottom: 30px;
    p {
      margin-top: 0px;
      &:last-child {
        margin-bottom: 0px;
      }
    }
  }
  .input-group {
    padding-top: calc(.375rem + 1px);
    padding-bottom: calc(.375rem + 1px);
    padding-left: 20px;
    margin-bottom: 0;
    border-radius: 4px;
    width: 100%;
    background: #f4f4f4;

    &.number-field {
      display: inline-flex;
      width: auto;
      padding-right: 20px;
    }

    input {
      font-size: 16px;
      font-weight: bold;
      background: transparent;
      border: 0;
      width: 100%;
      padding: 0;
      height: auto;

      &[type="text"] {
        border: 0;
        background: transparent;
      }

      &.number {
        width: 55px;
        flex: 55px;
        -webkit-flex: 55px;
        display: block;
        max-width: 55px;
        text-align: center;
      }
    }

    .input-group-text {
      padding: 0 10px;
      height: auto;
      font-size: 16px;
      font-weight: bold;
      border: 0;
      background: transparent;
    }
  }

  .sum-field {
    color: #005197 !important;
    font-weight: bold;

    input {
      color: #005197 !important;
    }

    .input-group-text {
      color: #005197 !important;
    }
  }

  .btn-light {
    width: 28px;
    height: 28px;
    border: 1px solid #c9cdd4;
    background: #fff;
    display: flex;
    padding: 0;
    align-items: center;
    justify-content: center;
    border-radius: 0;
  }

  .btn-primary {
    color: #fff;
    background-color: #005197;
    border-color: #005197;
    height: 55px;
    font-size: 18px;
  }
  .btn-danger {
    background-color: #c4261d;
  }
  .collapse-custom {
    width: 15px;
    height: 15px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    line-height: 15px;
  }
  .bg-gradient-primary {
    background: linear-gradient(to right, #17adb0, #007edc);
  }
  .border-secondary {
      border-color: #b6b6b6 !important;
  }
  .horizontal-scroll {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    display: block;
    button {
      display: inline-block;
      float: none;
    }
  }

}

.header-wrapper {
  padding: 10px 15px 9px;
  background: linear-gradient(to right, #17adb0, #007edc);
  box-shadow: 0 9px 16px 6px #ccc;
  color: #fff;
  min-height: 55px;

  & > div {
    padding: 0;
  }

  & > .col-10 {
    padding-right: 15px;
  }

  &.no-shadow {
      box-shadow: none;
  }

  .header-search {
    padding-right: 15px;
    border-radius: 4px;
    display: flex;
    background-color: rgba(255, 255, 255, 0.5);
    i {
      color: #fff;
      padding: 10px 10px;
    }
    input[type="text"] {
      background: transparent;
      color: #fff;
      border: 0;
      width: 100%;
      &::placeholder {
        color:#fff;
        opacity: 1;
      }

      &:-ms-input-placeholder {
       color: #fff;
      }

      &::-ms-input-placeholder {
       color: #fff;
      }
    }
  }

  h3 {
    font-weight: bold;
    font-size: 21px;
    margin: 0;

  }

  .filter {
    font-size: 19px;
    font-weight: bold;
    color: #fff;
    svg {
      margin-right: 12px;
      fill: #fff;
    }
  }
}

.form-check-label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    &:checked ~ .checkmark {
      background-color: #2196F3;
    }
    &:checked ~ .checkmark:after{
      display: block;
    }
  }

  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;

    &:after {
      content: "";
      position: absolute;
      display: none;
      left: 9px;
      top: 5px;
      width: 5px;
      height: 10px;
      border: solid white;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }

  &:hover {
    .checkmark{
      background-color: #ccc;
    }
  }


}

.footer-wrapper {
  background: #fff;
  box-shadow: 0 -9px 10px 0 #ccc;
  display: flex;

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 7px 0 6px;
    color: #999999;
    font-weight: bold;
    font-size: 15px;
    width: 100%;

    svg {
      margin-bottom: 5px;
      fill: #999999;
    }
  }

  a:hover {
    color: #005197;

    svg {
      fill: #005197;
    }
  }
}
.nav-tabs {
  background: #fff;
  width: 100%;
  .nav-link {
    border: 0px;
    border-bottom: 3px solid #fff;
    color: #b6b6b6;
    font-size: 14px;
    border-radius: 0;
    background: transparent;
    &:hover, &.active {
      border-color: #4cd964;
      color: #263d60;
    }
  }
}
.card {
  margin-bottom: 18px;

  li {
    padding: 10px 25px;
    font-size: 19px;
    align-items: center;
    display: flex;
    width: 100%;
    justify-content: space-between;
    line-height: 30px;

    span {
      font-weight: bold;
    }

    p {
      margin: 0;
      font-weight: bold;

      .quatity {
        color: #ff3b30;
      }
    }
    .quatity-text {
      font-size: 30px;
    }
  }

  .title {
    button {
      color: #007ddd;
      font-size: 21px;
      font-weight: bold;
    }

    .link {
      display: flex;
      align-items: center;

      .badge {
        font-size: 120%;
        margin-right: 12px;
        width: 150px;
      }
      button {
        background: transparent;
        border: 0;
        padding: 0;
      }
      svg {
        fill: #ff3b30;
      }
    }
  }
  .btn-primary {
    padding-left: 23px;
    padding-right: 23px;
    margin: 0px;
  }
}
.buy-button {
  span{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 65px;
    height: 65px;
    background-color: #17adb0;
    border-radius: 50%;

  }
}
.dropdown-menu {
  padding-top: 0px;
  padding-bottom: 0px;
  .dropdown-item {
    font-size: 19px;
    padding: 11px 15px;
    border-bottom: 1px solid #e7e7e7;
    &:hover {
      background: #e7e7e7;
    }
    &:last-child {
      border-bottom: 0px;
    }
  }
}
