.form-test {
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  h3 {
    line-height: 100px;
    text-align: center;
  }
  .box-test-user {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    .form-control {
      margin-bottom: 10px;
    }
    .btn {
      width: 100%;
    }
  }
}